$primary-white: white;
$black-900: #181818;
$primary-blue: #2b59c3;

@font-face {
  font-family: "20 Kopeek";
  src: url("../assets/fonts/20%20Kopeek%20Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
