@font-face {
  font-family: "20 Kopeek";
  src: url("../assets/fonts/20%20Kopeek%20Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "20 Kopeek";
}

html {
  font-size: 10px;
}
@media (max-width: 1200px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6.6px;
  }
}
html body .container {
  max-width: 1162px;
  margin-inline: auto;
}
@media (max-width: 1200px) {
  html body .container {
    max-width: 90%;
  }
}
html body .container .btn {
  border-radius: 4rem;
  border: 1px solid white;
  background-color: white;
  color: #181818;
  padding: 2.3rem 4.7rem;
  font-size: 1.8rem;
}
html body .container .btn.blue {
  background-color: #2b59c3;
  font-size: 2.6rem;
  color: white;
  height: 7.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body h1 {
  font-weight: 400;
  font-size: 5.5rem;
  color: #181818;
  line-height: 100%;
}
html body h2 {
  font-weight: 400;
  font-size: 3.8rem;
  color: #181818;
}

.hero {
  background-image: url("../assets/images/heroimage.png");
  padding-top: 3.1rem;
  background-position: center;
  background-size: cover;
}
@media (max-width: 992px) {
  .hero {
    background-image: url(../assets/images/heroimage2.png);
  }
}
.hero .header-left {
  gap: 2rem;
}
.hero .header-left p {
  width: 19.3rem;
  font-size: 1.5rem;
  color: white;
}
.hero .header-menu {
  display: none;
}
@media (max-width: 992px) {
  .hero .header-menu {
    display: inline-block;
  }
}
.hero .header-right {
  gap: 2.3rem;
}
@media (max-width: 992px) {
  .hero .header-right {
    display: none;
  }
}
.hero .header-right_phone {
  padding: 0.7rem 2.7rem;
  border: 1px solid white;
  border-radius: 1.5rem;
  color: white;
  font-size: 1.6rem;
}
.hero .header-right_circle {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-bottom {
  padding-block: 26.9rem 30rem;
}
@media (max-width: 992px) {
  .hero-bottom {
    padding-block: 20rem 22rem;
  }
}
.hero-bottom p {
  font-size: 3.4rem;
  color: #181818;
  margin-block: 2rem 5rem;
}
@media (max-width: 992px) {
  .hero-bottom p {
    color: white;
  }
}
@media (max-width: 768px) {
  .hero-bottom p {
    width: 30.5rem;
  }
}
.hero-bottom h1 {
  width: 60%;
}
@media (max-width: 420px) {
  .hero-bottom h1 {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .hero-bottom h1 {
    color: white;
  }
}
.hero-bottom_btn {
  gap: 2rem;
}

.style {
  margin-block: 7rem 15rem;
}
.style-div {
  gap: 3rem;
  width: 100%;
  margin-top: 1.5rem;
}
@media (max-width: 992px) {
  .style-div {
    flex-direction: column;
    align-items: flex-start;
  }
}
.style-left {
  width: 400%;
}
@media (max-width: 992px) {
  .style-left {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .style-left {
    width: 100%;
  }
}
.style-left img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.style-right {
  gap: 4rem;
}
@media (max-width: 992px) {
  .style-right {
    width: 70%;
  }
}
@media (max-width: 576px) {
  .style-right {
    width: 100%;
  }
}
.style-right p {
  font-size: 1.8rem;
  line-height: 140%;
}

.elements-bottom {
  margin-block: 4rem 12rem;
  gap: 5rem;
}
@media (max-width: 768px) {
  .elements-bottom {
    flex-wrap: wrap;
    gap: 7rem;
  }
}
@media (max-width: 576px) {
  .elements-bottom {
    flex-direction: column;
  }
}
.elements-bottom_point {
  gap: 12px;
}
@media (max-width: 768px) {
  .elements-bottom_point {
    width: 100px;
  }
}
@media (max-width: 576px) {
  .elements-bottom_point {
    width: 70%;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .elements-bottom_point:last-child {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .elements-bottom_point:last-child {
    width: 90%;
  }
}
.elements-bottom_point p {
  font-size: 1.8rem;
  line-height: 140%;
  margin-top: 2.5rem;
}
@media (max-width: 768px) {
  .elements-bottom_point p {
    margin-top: 0;
  }
}

.price {
  margin-block: 7rem 15rem;
}
.price-div {
  gap: 8.5rem;
  width: 100%;
  margin-top: 1.5rem;
}
@media (max-width: 992px) {
  .price-div {
    flex-direction: column;
    align-items: flex-start;
  }
}
.price-left {
  width: 250%;
}
@media (max-width: 992px) {
  .price-left {
    width: 100%;
  }
}
.price-left img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.price-right {
  gap: 4rem;
}
@media (max-width: 992px) {
  .price-right {
    width: 100%;
  }
}
.price-right p {
  font-size: 1.8rem;
  line-height: 140%;
}
.price-right p.blue {
  background-color: #2b59c3;
  color: white;
  padding: 1.1rem 1.3rem;
  border-radius: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10rem;
}
.list img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .list-bottom {
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .list-bottom {
    flex-direction: column;
  }
}
.list-bottom .heading {
  margin-bottom: 5px;
  margin-top: 4.4rem;
}
.list-bottom p {
  font-size: 1.8rem;
  line-height: 140%;
  width: 58%;
}
.list-bottom p:last-child {
  width: 70%;
}
.list-bottom .btn.border {
  border: 1px solid #181818;
  height: 100%;
  margin-top: 3rem;
  font-size: 18px;
}
@media (max-width: 768px) {
  .list-bottom .btn.border {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .list-bottom .btn.border {
    width: 80%;
  }
}
.list .btn.blue {
  align-self: center;
}

.gift {
  margin-top: 10rem;
  align-items: flex-end;
  margin-bottom: 7.7rem;
  gap: 1.6rem;
}
@media (max-width: 992px) {
  .gift {
    flex-direction: column;
  }
}
.gift h2 {
  margin-bottom: 1.5rem;
}
.gift-left {
  width: 350%;
}
@media (max-width: 992px) {
  .gift-left {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .gift-left_image1 {
    display: none;
  }
}
.gift-left_image2 {
  display: none;
}
@media (max-width: 992px) {
  .gift-left_image2 {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    aspect-ratio: 16/9;
    display: inline-block;
  }
}
.gift-content_blue {
  background-color: #2b59c3;
  color: white;
  padding: 1.1rem 1.4rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}
.gift-content_blue h3 {
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
  width: 70%;
}
.gift-content_blue p {
  width: 80%;
}
.gift-content p {
  font-size: 1.8rem;
  line-height: 140%;
}
.gift-content p.separate {
  margin-left: 1.1rem;
}

.form h3 {
  font-size: 2.6rem;
  margin-block: 1.1rem 2.7rem;
}
@media (max-width: 1200px) {
  .form form {
    flex-direction: column;
  }
}
.form .form-div {
  gap: 3rem;
  margin-bottom: 2.1rem;
  width: 100%;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .form .form-div {
    flex-direction: column;
  }
}
.form .form-div input {
  width: 40%;
  border: 1px solid #181818;
  border-radius: 10px;
  padding: 2.3rem 2.9rem;
  font-size: 1.8rem;
  line-height: 140%;
}
@media (max-width: 1200px) {
  .form .form-div input {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .form .form-div input {
    width: 70%;
  }
}
@media (max-width: 576px) {
  .form .form-div input {
    width: 90%;
  }
}
@media (max-width: 390px) {
  .form .form-div input {
    width: 100%;
  }
}
.form .checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.form .checkbox .tick {
  width: 1.8rem;
}
.form .checkbox label {
  font-size: 1.8rem;
}
.form .checkbox label span {
  color: #2b59c3;
}
.form .btn {
  width: 40%;
}
@media (max-width: 576px) {
  .form .btn {
    width: 70%;
    align-self: center;
  }
}

.stages {
  color: #181818;
  margin-top: 15rem;
}
.stages h1 {
  width: 50%;
}
@media (max-width: 768px) {
  .stages-bottom {
    justify-content: center;
  }
}
.stages-bottom_bar {
  margin-block: 8.5rem 15rem;
  gap: 3rem;
}
@media (max-width: 768px) {
  .stages-bottom_bar {
    flex-direction: column;
  }
}
.stages-bottom_bar .content {
  width: 70%;
  gap: 3rem;
}
@media (max-width: 768px) {
  .stages-bottom_bar .content {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .stages-bottom_bar .content {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .stages-bottom_bar .content {
    justify-content: space-between;
  }
}
.stages-bottom_bar .content .fifteen {
  font-size: 1.5rem;
}
.stages-bottom_bar .content .eighteen {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  width: 90%;
}
.stages-bottom_bar .content div {
  width: 25%;
}
@media (max-width: 768px) {
  .stages-bottom_bar .content div {
    width: 16rem;
  }
}
.stages-bottom_bar h3 {
  font-size: 2.6rem;
  margin-top: 2.3rem;
  width: 70%;
  line-height: 140%;
}
@media (max-width: 400px) {
  .stages-bottom_bar h3 {
    width: 100%;
  }
}
.stages-bottom_bar h3.long {
  width: 90%;
}
.stages .beginning {
  width: 30%;
}
@media (max-width: 768px) {
  .stages .beginning {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .table {
    display: none;
  }
}
.table .border {
  border-top: 0.5px solid #868686;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: 0.5px solid #868686;
}
.table .big-blue {
  font-size: 2.6rem;
  color: white;
  background-color: #2b59c3;
}
.table .big-blue.first {
  border-radius: 10px 10px 0 0;
}
.table .big-blue.last {
  border-radius: 0 0 10px 10px;
}
.table th {
  padding: 3rem;
}
.table td {
  padding: 3rem;
}
.table td p {
  font-size: 1.5rem;
}
.table td h2 {
  color: #868686;
  position: relative;
}
.table td h2.one {
  transform: translateY(-5rem);
}

.quality {
  margin-block: 15rem;
  padding-block: 20rem 8rem;
  background-image: url(../assets/images/bag.png);
}
@media (max-width: 768px) {
  .quality {
    display: none;
  }
}
.quality * {
  color: white;
}
.quality-bottom {
  margin-block: 4rem 12rem;
  gap: 5rem;
}
@media (max-width: 768px) {
  .quality-bottom {
    flex-wrap: wrap;
    gap: 7rem;
  }
}
@media (max-width: 576px) {
  .quality-bottom {
    flex-direction: column;
  }
}
.quality-bottom_point {
  gap: 12px;
  width: 20%;
}
@media (max-width: 992px) {
  .quality-bottom_point {
    width: 300px;
  }
}
@media (max-width: 576px) {
  .quality-bottom_point {
    width: 70%;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .quality-bottom_point:last-child {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .quality-bottom_point:last-child {
    width: 90%;
  }
}
.quality-bottom_point p {
  font-size: 1.5rem;
  line-height: 140%;
  margin-top: 2.5rem;
}
@media (max-width: 768px) {
  .quality-bottom_point p {
    margin-top: 0;
  }
}

.contact {
  gap: 10rem;
}
@media (max-width: 768px) {
  .contact {
    flex-direction: column;
  }
}
.contact button {
  height: 7.1rem;
  background-color: red;
}
.contact .form-div {
  flex-direction: column;
  gap: 1rem;
}
.contact .form-div input {
  padding: 2.3rem 2.9rem;
  border: 1px solid #181818;
  width: 44rem;
  border-radius: 10px;
  font-size: 1.8rem;
}
.contact .form-div .checkbox {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-block: 2.1rem 4.8rem;
}
.contact .form-div .checkbox .tick {
  width: 1.8rem;
}
.contact .form-div .checkbox label {
  font-size: 1.8rem;
}
.contact .form-div .checkbox label span {
  color: #2b59c3;
}
.contact .content p {
  font-size: 2.6rem;
}

footer {
  margin-block: 12.7rem 2rem;
}
footer .separate {
  font-size: 1.8rem;
}
footer .middle {
  display: flex;
  gap: 3rem;
  margin-block: 1.4rem 9.4rem;
}
@media (max-width: 576px) {
  footer .middle {
    flex-direction: column;
  }
}
footer .middle div {
  background-color: #2b59c3;
  color: white;
  border-radius: 10px;
  padding: 0.6rem 1.3rem;
  width: 25%;
  height: 100%;
}
@media (max-width: 576px) {
  footer .middle div {
    width: 100%;
  }
}
footer .middle div p {
  font-size: 1.8rem;
}
footer .middle div p.small {
  font-size: 1.5rem;
}/*# sourceMappingURL=main.css.map */